
* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

body {
    background-color: black;
}

#back {
    background-image: url(assest/img2-fundo.jpg);
    height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    top: 0;
    right: 0;
    opacity: 0.6;
    
}